**/nimcache/*
*~
/Analysis/ingrid/raw_data_manipulation
/Analysis/ingrid/reconstruction
/Analysis/ingrid/data/*
/Analysis/nim.cfg
/InGrid-Python/InGrid.egg-info/*
InGrid-Python/build/*
InGrid-Python/dist/*
/extractScintiTriggers/scinti_triggers.svg
/Analysis/ingrid/out/*
/Plotting/plotCalibration/out/*
/Plotting/karaPlot/figs/*
