# This config file can be used to change the `basic_limit_calcuation.nim`
# behavior without having to specify each argument as a command line option.
# Comments are ignored (obviously) and any non comment entry should be
# of the form `X = Y`.
# Here, `X` corresponds to any field from the `Config` object in the
# limit program and `Y` the corresponding value.

# IMPORTANT:
# As may be obvious, please do not leave more than one occurence of a parameter
# uncommented!

# Below are a few presets that might be interesting. I think you get the gist.
# Just uncomment what you want to run, then
# `./basic_limit_calc`
# will apply those values. You can verify it by looking at the printed `Config` output.

[Magnet settings]
# CAST settings:
#B                        = 8.8.T
#L                        = 9.26.m
#boreDiameter             = 4.3.cm

# BabyIAXO settings:
#B                       = 3.2.T # Or whatever it is lately
#L                       = 10.m
#boreDiameter            = 70.cm

# IAXO settings:
#B                       = 4.T
#L                       = 20.m
#boreDiameter            = 70.cm

[Window settings]
# Mylar window
#window                  = "C10H8O4"
#windowDensity           = 1.4.g•cm⁻³
#windowThickness         = 2.μm

# Si3N4 window (300nm, ρ = 3.44 g•cm⁻³)
#window                  = "Si3N4"
#windowDensity           = 3.44.g•cm⁻³
#windowThickness         = 0.3.μm

# Si3N4 window (150nm, ρ = 3 g•cm⁻³)
#window                  = "Si3N4"
#windowDensity           = 3.g•cm⁻³
#windowThickness         = 0.15.μm

[Detector settings]
# Argon / Isobutane (97.7 / 2.3)
#gas                     = @["Ar,0.977", "C4H10,0.023"]
#pressure                = 1050.mbar
#T                       = 293.15.K

# Xenon / Neon / Isobutane, 1.4 bar
#gas                     = @["Xe,0.4885", "Ne,0.4885", "C4H10,0.023"]
#pressure                = 1400.mbar
#T                       = 293.15.K

# Detector chamber
#chamberHeight           = 3.cm
#chamberHeight           = 6.cm

[Axion settings]
#axionFlux               = "../../resources/solar_axion_flux_differential_g_ae_1e-13_g_ag_1e-12_g_aN_1e-15_0.989AU.csv"
#fluxKind                = fkAxionElectron
#g2_ref                  = 1e-13

[Background settings]
# 2017/18 GridPix background rate
#backgroundFile           = "../../resources/background_rate_gold_mlp_0.95_scinti_fadc_line.csv"
#bColE                    = "Energy"
#bColBkg                  = "Rate"
#bSep                     = ","

# 2014/15 GridPix background rate
#backgroundFile           = "../../resources/background-rate-gold.2014+2015.dat"
#bColE                    = "E[keV]"
#bColBkg                  = "Rate[/keV/cm²/s]"
#bSep                     = " "
#bHeader                  = "#"


# CAST Nature background rate

# 2024 Micromegas background rate

[Sensitivity settings]
# *NOTE*: `chipArea` is a *vital* parameter, because it directly affects the signal / background ratio. Our assumption
# is always that all flux is contained in this region and the background constant inside it.""",
#chipArea = 0.25.cm²
#softwareEff = 0.8
